# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'
- task: AzureResourceManagerTemplateDeployment@3
  inputs:
    deploymentScope: 'Resource Group'
    azureResourceManagerConnection: 'ARMPipeline-conn'
    subscriptionId: '7e4265d6-129f-406b-aa9b-926bc852698e'
    action: 'Create Or Update Resource Group'
    resourceGroupName: 'ARMPipeline-rg'
    location: 'Central India'
    templateLocation: 'URL of the file'
    csmFileLink: 'https://raw.githubusercontent.com/dkumard/AzureResources/refs/heads/main/create_web_app/azuredeploy.json'
    overrideParameters: '-projectName ARMProj'
    deploymentMode: 'Incremental'
    deploymentName: 'DeployPipelineTemplate'
